/**
 * Stylesheet for Portfolio
 **/

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 18px;
    background-image: url("../images/stonehaven.png");
    background-repeat: repeat;
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -80px;
}

header {
    /* position: absolute; */
    background: #ffffff;
    width: auto;
    height: auto;
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
    text-align: center;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 30px;
    /* height: 48px; */
    /* margin: 0 auto; */
}

.container {
    width: 960px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.name {
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    background: #4aaaa5;
    text-align: center;
    width: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
    /* margin-left: 10%; */
}

.nav {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #666666;
    background: #ffffff;
    text-align: center;
    width: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    /* height: 100px; */
    /* padding: 20px; */
    /* margin-right: 10%; */
}

section {
    background: #ffffff;
    width: 900px;
    margin: 0 auto;
}

h1 {
    color: #4aaaa5;
    /* background: #4aaaa5; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
}

.content {
    background: #ffffff;
    border-color: #dddddd;
    padding: 30px;
    /* text-align: center; */
    /* margin-bottom: 80px; */
    margin: 0 auto -80px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    text-align: justify;
    width: 100%;
    line-height: 30px;
    padding: 5px;
    
}

footer {
    background: #666666;
    color: white;
    text-align: center;
    font-size: 10px;
    border-top: 10px solid #4aaaa5;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 80px;
    vertical-align: text-bottom;
}

img {
    float: left;
    margin: 15px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.inline {
    display: inline-block;
    position: relative;
    text-align: center;
    color: white;
}

.img_txt {
    position: absolute;
    top: 60%;
    width: 79%;
    padding: 20px;
    transform: translate(5%, 5%);
    background: #4aaaa5;
    color: white;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
}

@media screen and (max-width: 640px) {

    body {

    }

        /* The wrapper's width will be 600px */
    .wrapper {
      width: 600px;
    }

    header {
        position: static;
        width: 100%;

        background: #ffffff;
        height: auto;
        text-align: center;
        border-bottom: 2px solid #cccccc;
        margin-bottom: 30px;
    }

    .container {
        width: 100%;
    }

    a {

    }
    
    .name {
        float: none;

        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        background: #4aaaa5;
        text-align: center;
        width: 30%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .nav {
        float: none;

        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: #666666;
        background: #ffffff;
        text-align: center;
        width: 10%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    section {

    }

    footer {
        width: 100%;
    }
}
  